<div class="maxwidth shadow">
    <div class="warp">
        <div class="Mynav">
            <ul>
                <li><a href="http://127.0.0.1/apzd">首页</a></li>
                <li><a href="http://127.0.0.1/apzd">关于我们</a></li>
                <li><a href="http://127.0.0.1/apzd">服务项目</a></li>
                <li><a href="http://127.0.0.1/apzd">咨询流程</a></li>
                <li><a href="http://127.0.0.1/apzd">公司动态</a></li>
                <li><a href="http://127.0.0.1/apzd">服务客户</a></li>
                <li class="changeBgcolor"><a href="{:U('/employ')}">招贤纳士</a></li>
                <li><a href="http://127.0.0.1/apzd">联系我们</a></li>
            </ul>
        </div>
    </div>
</div>
<!--内容-->
<div class="client menuStyle">
    <div class="fengeLine"></div>
    <p class="kehuP">招贤纳士</p>
    <p>做企业最信赖的实战派管理咨询服务机构</p>
</div>
<?php foreach($employ as $k => $v): ?>
<div class="listContent">
    <div class="listContentBox">
        <h2>贤士岗位：<?php echo $v['job_name'];?></h2>
        <p>工作职责：</p>
        <?php
					$arr = explode(',',$v['job_duty']);
				?>

        <ul>
            <?php foreach($arr as $k1 => $v1): ?>
            <li><?php echo $k1+1;?>、<?php echo $v1;?></li>
            <?php endforeach; ?>
        </ul>
        <p>任职要求：</p>
        <?php
					$arr = explode(',',$v['job_require']);
				?>
        <ul>
            <?php foreach($arr as $k1 => $v1): ?>
            <li><?php echo $k1+1;?>、<?php echo $v1;?></li>
            <?php endforeach; ?>
        </ul>
    </div>

</div>
<?php endforeach; ?>

<div class="zhaopinText">简历请发送至：   <?php echo $config['公司邮箱'];?></div>
<script type="text/javascript" src="__PUBLIC__/js/content.js"></script>

